#This the the canonical lab .gitignore file

#ignore temp files
*~

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux
*.dvi
*.ps

#ignore junk files from compiling C code
*.o

#ignore executables
assemble
emulate

#ignore junk files from compiling Haskell code
*.hi

#ignore junk files from compiling Java code
*.class

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc
*.orig

#CLion project folder
.idea/

#files for my use - Shiraz
testResult.txt
backups_from_conflicts
CMakeFiles
cmake_install.cmake
TODO.txt

#ignore non working util files
util/FunctionTable.h
util/GenericListMap.h
util/GenericListMapIterator.h
util/GenericListMapNode.h
util/HashMap.c
util/HashMap.h
util/memory_util.h